<div class="category">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="category-item ch-400">
          <img src="/assets/add11.jpg"  />
<!--          https://cf.shopee.co.id/file/b3d0a5e37e05d8d06484e190ab799463-->
          <a class="category-name" href="">
            <h1>
              <br><button>Shop Now</button>
            </h1>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-400">
          <img src="/assets/add1.jpg"  style="object-fit: cover">
          <!--          https://cf.shopee.co.id/file/b3d0a5e37e05d8d06484e190ab799463-->
          <a class="category-name" href="">
            <h1>
              <br><button>Shop Now</button>
            </h1>
          </a>
        </div>

<!--        <div class="category-item ch-250">-->
<!--          <img src="/assets/add4.jpg" />-->
<!--&lt;!&ndash;          https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYTXDyNVPsZ1eabsGYIo1NuWLvWiWjgVb_29KPH-vvpOMqGAKYXbeD-MZV43rUpEMaivs&usqp=CAU&ndash;&gt;-->
<!--          <a class="category-name" href="">-->
<!--            <h1>Special Discount -: 25% <br><h1>50$ Only</h1>-->
<!--              <br><button>Shop Now</button>-->
<!--            </h1>-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="category-item ch-150">-->
<!--          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUpl10KaIxMi96O51KFHvhgvODAa5DP4bfkJWXV-7tKn-7lYG5V-HJOkQzP3KcToZSCA8&usqp=CAU" />-->
<!--          <a class="category-name" href="">-->
<!--            <h1>Special Discount -: 25% <br><h1>50$ Only</h1>-->
<!--              <button>Shop Now</button>-->
<!--            </h1>-->
<!--          </a>-->
<!--        </div>-->
      </div>
      <div class="col-md-3">
        <div class="category-item ch-400">
          <img src="/assets/add4.jpg"  />
          <!--          https://cf.shopee.co.id/file/b3d0a5e37e05d8d06484e190ab799463-->
          <a class="category-name" href="">
            <h1>
              <br><button>Shop Now</button>
            </h1>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-400">
          <img src="/assets/add2.jpg" />
          <a class="category-name" href="">
            <h1>
              <br><button>Shop Now</button>
            </h1>

          </a>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
