<div class="category">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="category-item ch-400">
          <img src="https://cf.shopee.co.id/file/b3d0a5e37e05d8d06484e190ab799463" />
          <a class="category-name" href="">
            <h1>Special Discount -: 25% <br><h1>50$ Only</h1>
              <br><button>Shop Now</button>
            </h1>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-250">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYTXDyNVPsZ1eabsGYIo1NuWLvWiWjgVb_29KPH-vvpOMqGAKYXbeD-MZV43rUpEMaivs&usqp=CAU" />
          <a class="category-name" href="">
            <h1>Special Discount -: 25% <br><h1>50$ Only</h1>
              <br><button>Shop Now</button>
            </h1>
          </a>
        </div>
        <div class="category-item ch-150">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUpl10KaIxMi96O51KFHvhgvODAa5DP4bfkJWXV-7tKn-7lYG5V-HJOkQzP3KcToZSCA8&usqp=CAU" />
          <a class="category-name" href="">
            <h1>Special Discount -: 25% <br><h1>50$ Only</h1>
              <button>Shop Now</button>
            </h1>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-150">
          <img src="https://cdn.shopify.com/s/files/1/0252/3339/1709/products/sustainable-ethical-handmade-handloom-cotton-slow-fashion-stuffed-toy-animals-handmade-natural-cotton-safety-tested-sri-lankan-elephant-made-in-sri-lanka-30850394554534_2048x.jpg?v=1666910276" />
          <a class="category-name" href="">
            <h1>Special Discount -: 25% <br><h1>50$ Only</h1>
              <button>Shop Now</button>
            </h1>
          </a>
        </div>
        <div class="category-item ch-250">
          <img src="https://static-01.daraz.lk/p/f2cbc4a5434aabddea30f0dbd1236d59.jpg" />
          <a class="category-name" href="">
            <h1>Special Discount -: 25% <br><h1>50$ Only</h1>
              <br><button>Shop Now</button>
            </h1>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-400">
          <img src="https://cf.shopee.co.id/file/d8ce5b19bdb89d078b3666577d053b7f" />
          <a class="category-name" href="">
           <h1>Special Discount -: 25% <br><h1>50$ Only</h1>
            <br><button>Shop Now</button>
           </h1>

          </a>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
