
<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/log.png" alt="logo">
  </div>
  <mat-divider>   </mat-divider>
  <h2 matSubheader class="mt-2">
    EMPLOYEE DASHBOARD
  </h2>

  <a mat-list-item routerLink="/EmployeeDashboard/{{employee.employeeId}}" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon> Dashboard</a>
  <a mat-list-item routerLink="/AddItem/{{employee.employeeId}}" routerLinkActive="list-item-active">
    <mat-icon>group</mat-icon>Add Item
  </a>
  <a mat-list-item routerLink="/CustomerLis" routerLinkActive="list-item-active">
    <mat-icon>note_add</mat-icon>Customer List
  </a>
  <a mat-list-item routerLink="/itemByEmployees/{{employee.employeeId}}" routerLinkActive="list-item-active">
    <mat-icon>menu_book</mat-icon>Item List
  </a>
  <a mat-list-item routerLink="/re-book" routerLinkActive="list-item-active">
    <mat-icon>book</mat-icon>Receive Book
  </a>
  <a mat-list-item routerLink="/returnBook" routerLinkActive="list-item-active">
    <mat-icon>assignment turned in icon</mat-icon>Receive Book List
  </a>
  <a mat-list-item routerLink="/returnBookList" routerLinkActive="list-item-active">
    <mat-icon>collections_bookmark</mat-icon>Return Book List
  </a>
  <a mat-list-item routerLink="/paymentList" routerLinkActive="list-item-active">
    <mat-icon>payment</mat-icon>Payment
  </a>
  <a mat-list-item  >
    <mat-icon>logout</mat-icon>Log Out
  </a>
</mat-nav-list>




