<div class="container">
  <div class="content">

    <form >
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Address</mat-label>
        <input  type="text" matInput placeholder="Address"  required></mat-form-field>

      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Name</mat-label>
        <input  type="text" matInput placeholder="Name"  required></mat-form-field>
    </form>


  </div>
  <div class="map">

    <map >
      <app-map></app-map>
    </map>
  </div>
  <div class="buttons-container">
    <div class="buttons">

      <div id="myPaypalButton">

      </div>
    </div>
  </div>
</div>
