<mat-drawer-container style="margin-top: -60px">
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-admin-nav></app-admin-nav>
  </mat-drawer>
  <mat-drawer-content>
    <app-admin-header (toggleSidebarForMe)="sideBarToggler()" ></app-admin-header>

    <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Admin Dashboard</div>
      <div class="page__content shadow p-3 position-relative">
        <section>
          <div class="box1">
            <div class="image3">
              <img src="https://i.pinimg.com/564x/f8/b7/58/f8b758118b8b93738614ffb120162868.jpg" style="height: 120px; width: 150px">
            </div>
            <h2>Employees -: </h2>


          </div>
          <div class="box2">
            <div class="image3">
            <img src="https://i.pinimg.com/736x/b0/47/f4/b047f483e345fda2d67bbb89870fcd31.jpg" style="height: 120px; width: 150px">
          </div>
            <h2>Orders -:</h2>


          </div>
          <div class="box3">
            <div class="image3">
              <img src="https://i.pinimg.com/564x/75/98/8d/75988d8119a32df899a1b0bdca497e35.jpg" style="height: 120px; width: 150px">
            </div>
            <h2>Customers-:</h2>


          </div>
          <div class="box2">
            <div class="image3">
              <img src="https://i.pinimg.com/564x/36/0a/f2/360af2967c4daa3f156891bf85848a16.jpg" style="height: 120px; width: 150px">
            </div>
            <h2>Items-:</h2>


          </div>
          <div class="box4">


            <div class="row">
              <div class="column" >
                <app-profile></app-profile>
              </div>
              <div class="column2" >

                  <div style="width: 450px; height: 340px;" >
                    <canvas class="pie-chart"  baseChart
                            [data]="pieChartData"
                            [labels]="pieChartLabels"
                            [type]="'pie'"
                    >
                    </canvas>




                </div>
              </div>
              <div class="column1" style="background-color:#ccc;">
                <app-calender></app-calender><app-time></app-time>
              </div>
              <div>

              </div>
            </div>







            <p></p>
          </div>

        </section>
        <div class="page__content-data position-absolute ">



        </div>
      </div></div>

  </mat-drawer-content>
</mat-drawer-container>

