
<mat-drawer-container style="margin-top: -50px">
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-employee-nav></app-employee-nav>
  </mat-drawer>
  <mat-drawer-content>
    <app-employee-header (toggleSidebarForMe)="sideBarToggler()"></app-employee-header>

    <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Employee List</div>
      <div class="page__content shadow p-3 position-relative">
        <label>
          {{employee.employeeName}}
        </label>


        <section>
          <div class="box">
            <h2>Box 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="box">
            <h2>Box 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="box">
            <h2>Box 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="box4">
            <h2>Box 4</h2>
            <p></p>
          </div>
        </section>

        <div class="page__content-data position-absolute ">
        </div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>



