
<mat-drawer-container style="margin-top: -50px">
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-employee-nav></app-employee-nav>
  </mat-drawer>
  <mat-drawer-content>
    <app-employee-header (toggleSidebarForMe)="sideBarToggler()"></app-employee-header>

    <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Employee List</div>
      <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute ">


        </div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>



